h1,h2,h3,h4,h5,h6 {
	color:brown;;
   text-align:center;
   font-family: Serif;
}
table {
	width:50%;
   margin-left:25%;
   outline: 0.2em black inset;
   padding-left: 5%;
   padding-right: 5%;
}


p
{
	font-family: serif;
   font-weight: 150;
	line-height: 150%;
	text-align: left;
	padding-left: 10%;
	padding-right: 10%;
	font-style: italic;
	
}

figcaption
{
	text-align: center;
	font-weight: bolder;
	padding: 0.2em;
	border: 0.4em black solid;
}
p.contents {
	font-family:serif;
	margin-left:20%;
   margin-right:20%;
   color: black;
   text-align: center;
   border-left: 0.4em inset;
   border-right: 0.4em inset;
   border-top: 0.4em inset;
   border-bottom: 0.4em inset;
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
}

p.illustrations{
	margin-left:20%;
	margin-right:20%;
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	text-align: center;
	border-left: 0.4em black inset;
  	border-right: 0.4em black inset;
 	border-top: 0.4em black inset;
 	border-bottom: 0.4em black inset;
}
body {
	background-image:url('paper3.jpg');
	background-size: contain;
}

pre {
	font-family: serif;
	margin-left: 5%;
	margin-right: 5%;
	font-style: italic;
	font-size: small;
	text-align: center;
}

.fig
{
	margin-left:20%;
	margin-right:20%;
	display:block;
	margin:0 auto;
	border: 0.4em black solid;
}

